%div.container.btn-toolbar
  %h1
    Status
  %h2
    Your DNS Vital: #{@dns_vital}
  %form{:action => '/status', :method => 'post'}
    %input{:type => "hidden", :name => "_method", :value => "PUT"}
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th
            Domain Name
          %th
            IPv4 Address
          %th
            TXT
      %tbody
        %td
          #{@domain_name}
        %td
          #{@ipv4_address} => #{@request_ip}
        %td
          #{@txt} =>
          %input{:type => "text", :name => "txt", :value => "#{@txt}"}
    %input.btn.btn-primary{:type => "submit", :value => "Update"}
  %form{:action => "/status", :method => "post"}
    %input{:type => "hidden", :name => "_method", :value => "DELETE"}
    %input.btn.btn-warning{:type => "submit", :value => "Clear"}
